body {
  font-family: Arial;
  font-size: 14px;
}

.passed {
  color: green;
}

.failed {
  color: red;
}

.context_result {
  margin-bottom: 20px;
  .title {
    font-weight: bold;
  }
  
  .content {
    margin-left: 20px;
  
    .passes {
      .pass {
//        color: green;
      }
    }
  
    .fails {
      .fail {
//        color: red; 
      }
    }
  }
}