defaults:
  hostname: api.qa.citygrid.com
  ssl_hostname: api-qassl.citygrid.com

# endpoint_name: endpoint
# OR 
# endpoint_name:
#   ssl: true/false
#   endpoint: endpoint

endpoints:
  account:
    ssl: true
    endpoint: accounts/account/v2
  ad_group: advertising/adgroup/v2
  ad_group_ad: advertising/adgroupad/v2
  ad_group_criterion: advertising/adgroupcriterion/v2
  ad_group_geo: advertising/adgroupgeo/v2  
  authentication:
    ssl: true
    endpoint: accounts/user/v2    
  budget: advertising/budget/v2/recommend
  campaign: advertising/campaign/v2
  category: content/category/v2
  geo_location: content/places/v2/geocode
  image: advertising/image/v2
  method_of_payment:
    ssl: true
    endpoint: accounts/mop/v2
  places: content/places/v2
  performance: advertising/performance/v2/campaign
  user: accounts/user/v2
  call_detail: advertising/calldetail/v2
